* {box-sizing: border-box; }

.row::after {  
    content: "";
    clear: both;  
    display: table; 
}

[class*="col-"] {
    float: left; 
    padding: 15px; 
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #6d5877;
    color: #ffffff;
    padding: 15px;
}

.title{
    text-align: center;
    background-color: #5a495a7d;
}
.jk {
    background-color: #7a2062;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tae {
    background-color: #731259;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.jimin {
    background-color: #782562;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: #0201020f;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

    body{
        background-color: #117be6;
    }


    .jk {
        background-color: #4c90d3;
    }

    .tae {
        background-color:  #4c90d3;
    }

    .jimin {
        background-color: #4c90d3;
    }

    [class*="col-"] {
        width: 100%;
    }

    @media only screen and (min-width: 601px) {

    body{
        background-color: #0a762e;
    }


    .jk {
        background-color: #4cd365;
    }

    .tae {
        background-color: #4cd365;
    }

    .jimin {
        background-color: #4cd365;
    }
    /* For tablets: */
    .col-s-1 {width: 8.33%;} 
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}




@media only screen and (min-width: 900px) {

        body{
            background-color: #979797;
        }
    
    
        .jk {
            background-color: #5b5b5b;
        }
    
        .tae {
            background-color:  #5b5b5b;
        }

        .jimin {
            background-color: #5b5b5b;
        }

    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


